<div class="new-user-page">
    <%= form_for @user, url: create_user_path, class: 'user-form' do |f| %>
        <fieldset class="username-password">
            <h4>Create Account</h4>
            <%= f.text_field :username, placeholder: 'Username' %>
            <%= f.password_field :password, placeholder: 'Password' %>
            <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
            <%= link_to 'Already have an account', login_path %>
            <div class="form-navigation">
                <button type="button" class="next-button">Next</button>
            </div>
        </fieldset>
        <%= f.fields_for :alumnus_record do |f| %>
            <%= render 'alumnus_record_fields', f:f %>
        <% end %>
    <% end %>
</div>