<div class="event-creation">
    <%= render partial: 'common/navigation' %>
    <h4 class="create-new-event-header">Create New Event</h4>
    <% if @event.errors.any? %>
        <% @event.errors.full_messages do |message| %>
                <h4><%= message %></h4>
        <% end %>
    <% end %>
    <div class="create-event-section">
        <%= image_tag 'create-new.png', class: 'create-new-image' %>
        <div class="errors-section">
            <% if @event.errors.present? %>
                <% @event.errors.full_messages.each do |error| %>
                    <span><%= error %></span>
                <% end %>
            <% end %>
        </div>
        <%= form_for @event do |f| %>
            <fieldset>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <div class="file-upload">
                    <%= f.file_field :file %>
                    <label for="event_file"><i class="fas fa-file-upload"></i>Select a file</label>
                    <span class='selected-file'></span>
                </div>
                <div class="event-caption">
                    <%= f.text_area :caption %>
                </div>
                <div class="create-event">
                    <%= f.submit 'Upload' %>
                </div>
            </fieldset>
        <% end %>
    </div>
</div>