<tr>
    <td><%= alumnus_record.full_name %></td>
    <td><%= alumnus_record.email %></td>
    <td><%= alumnus_record.gender %></td>
    <td><%= alumnus_record.birth_date.to_formatted_s(:long) %></td>
    <td><%= alumnus_record.course %></td>
    <td><%= alumnus_record.date_graduated.year %></td>
    <td><%= alumnus_record.employment_status %></td>
</tr>