<div class="navigation">
    <ul>
        <li><%= link_to 'Home', new_event_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <li><%= link_to 'Alumni List', alumni_list_path %></li>
        <li><%= link_to 'Statistics', alumni_statistics_path %></li>
        <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
    </ul>
</div>