<div class="navigation">
    <ul>
        <li><%= link_to 'Home', new_event_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <li><%= link_to 'Alumni List', alumni_list_path %></li>
        <li><%= link_to 'Statistics', alumni_statistics_path %></li>
        <li>
            <div class="notification-group">
                <span id="unread-notifications-count">0</span>
                <i class="fas fa-bell"></i>
                <div class="notifications-list-container">
                    <ul id="notifications-list">
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                        <li><span class="notification-details"> monk kokkalis logged in a few seconds ago</span></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
    </ul>
</div>